Repository rcgsheffield/hpc-changelog, pull requests merged in 2025-01, with the labels that each got.

#92 Stanage HPC cluster TOTP Multifactor authentication has been replaced with DUO Multifactor authentication
  _posts/2025-01-16-Stanage-DUO-MFA-implemented.md
  _tags/DUO.md
  _tags/MFA.md
  feeds/tags/DUO.xml
  feeds/tags/MFA.xml
Labels: enhancement

#91 All Package Index
  _posts/2025-01-17-Stanage-all-package-index.md
Labels: documentation, stanage

#94 Implement adjusted HTML filename creation
  _config.yml
Labels: enhancement

#93 Stanage GPU driver update - Driver ver 550.144.03
  _posts/2025-01-23-stanage-gpu-driver-upgrade.md
Labels: stanage
